location /go/ {
    rewrite                         ^/go/aliyun "http://s.click.taobao.com/t?e=m%3D2%26s%3DAevmHTMG7WkcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAh5uiD24N1PyfbkoBKq2ojQh1FfXPw%2BTmzHPpPq2S%2BA2XtWlGbqQgIwFZvuR2g5lxjDVuRn8ddiDsEVVC24eqozcHtRpEUy6RHVyxRO0gvF4QxJtmCgOmCLXl8Q7TEjBF%2BX11FSyvDCnQiv%2BJKjlPObGDmntuH4VtA%3D%3D";
    rewrite                         ^/go/digitalocean "https://www.digitalocean.com/?refcode=3d8f48ccdfb7";
    rewrite                         ^/go/namesilo "http://www.namesilo.com/?rid=e375a65qo";
    rewrite                         ^/go/qiniu "https://portal.qiniu.com/signup?code=3lffq0m13hg0i";
}
