server {
    server_name                 wenzhou.tpg.edu.gr www.wenzhou.tpg.edu.gr;
    include                     includes/listen_full.template;
    include                     includes/header_add.template;
    include                     includes/headers_set_more.template;
    ssl_certificate             $wwwroot/keys/wenzhou.tpg.edu.gr.crt;
    ssl_certificate_key         $wwwroot/keys/wenzhou.tpg.edu.gr.key;
    ssl_trusted_certificate     $wwwroot/keys/wosign_ssl_trusted_certificate.crt;
    ssl_dhparam                 $wwwroot/keys/dhparam.pem;
    ssl_ecdh_curve              secp384r1;
    include                     includes/ssl.template;
    include                     includes/ssl_stapling.template;
    set                         $rewriterule https;
    if                          ($scheme != https) {
    set                         $rewriterule "${rewriterule}1";
    }
    if                          ($host ~* ^www.) {
    set                         $rewriterule "${rewriterule}2";
    }
    if                          ($rewriterule = "https12") {
    return                      301 https://wenzhou.tpg.edu.gr$request_uri;
    }
    include                     includes/block_files.template;
    include                     includes/expires.template;
    access_log                  $wwwroot/logs/wenzhou.tpg.edu.gr.access.log;
    error_log                   $wwwroot/logs/wenzhou.tpg.edu.gr.error.log;
}
