# https://developer.mozilla.org/zh-CN/docs/Web/HTTP/X-Frame-Options
add_header Strict-Transport-Security    "max-age=31536000; preload";
add_header X-Frame-Options              "DENY";
add_header X-Content-Type-Options       "nosniff";
add_header X-XSS-Protection             "1; mode=block";
add_header Cache-Control                "no-siteapp";
