location                ^~ /.well-known/acme-challenge/ {
    more_set_headers    "Content-Type: application/jose+json";
    root                /etc/letsencrypt/webrootauth/.well-known/acme-challenge;
}
