ssl_session_cache                       shared:SSL:2m;
ssl_session_timeout                     12h;
ssl_session_tickets                     on;
ssl_prefer_server_ciphers               on;
ssl_protocols                           TLSv1 TLSv1.1 TLSv1.2;
ssl_ciphers                             CHACHA20:EECDH+ECDSA+AESGCM:EECDH+aRSA+AESGCM:EECDH+ECDSA+SHA256:EECDH+aRSA+SHA256:EECDH+ECDSA+SHA384:EECDH+ECDSA+SHA256:EECDH+aRSA+SHA384:EDH+aRSA+AESGCM:EDH+aRSA+SHA256:EDH+aRSA:EECDH:!DH:!aNULL:!eNULL:!MEDIUM:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4:!SEED;
